{% extends 'base_accounts.html' %}
{% load static %}

{% block title %}Payment confirmation{% endblock %}
{% block content %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Payment from {{ number }}</h4>
        <hr>
        <h4>STATUS: <span class="badge badge-pill badge-danger">{{ status }}</span></h4>
        <h4>AMOUNT: Ugx {{ amount }}</h4>
        <a href="{% url 'home' %}" class="btn btn-secondary btn-lg btn-block" role="button">Home</a>
    </div>
{% endblock %}
