{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/movie.css' %}">
{% endblock stylesheet %}

{% block content %}
{% include 'nav_bar.html' %}
{% include 'search.html' %}
<h6 class="category">
  ALL MOVIES 
  {% include 'tags.html' %}
</h6>
  <div class="row">
    {% for movie in movies %}
      <div class="col-0">
        <a href="{% url 'movie_detail' movie.slug %}">
          <div class="card border-0">
            {% if movie.cover_image %}
              {% if movie.translated %}
                <span class="notify-badge">Trans</span>
              {% endif %}
            <img class="card-img-top" src="{{ movie.cover_image.url }}" alt={{ movie.name }}>
            {% endif %}
            <div class="card-body">
              <span class="card-text">
                  <p class="title">{{ movie }}</p>
                  <p class="views"> 
                    <small>
                        {{ movie.tags.all|join:", " }}
                    </small> </p>
              </span>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
{% include 'paginator.html' %}
{% endblock %}