{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'css/movie_detail.css' %}">
{% endblock stylesheet %}

{% block content %}
{% include 'nav_bar.html' %}
  <div class="container">
      <br>
      <div class="card card-price">
              <div class="card-header">
                  {{ series|upper }}
              </div>
              {% if series.cover_image %}
                  <img src="{{ series.cover_image.url }}" class=" card-img img-responsive" style="background-color: rgb{{bg_color}};">
                  {% if series.translated %}
                  <span class="notify-badge">Translated</span>
                  {% endif %}
          {% endif %}
          <div class="card-body">
            <ul class="details">
                <li> {{ series.story_line }}</li>
                <li>
                    {% for tag in series.tags.all %}
                    <span class="badge badge-pill badge-info">{{ tag }}</span>
                  {% endfor %}
                </li>
            </ul>
              {% for season  in seasons %}
                <a href="{% url 'season_detail' series.slug season.slug %}" class="badge badge-danger mr-1" style="font-size: 14px; padding-left: 9px; padding-right: 9px;">{{ season.seasoname }}</a>
              {% if not forloop.last %}  {% endif %}
              {% endfor %}
          </div>
          <div class="card-footer text-muted d-flex justify-content-center">
              <div style="padding-top: 4px;">Each episode costs <span class="badge badge-pill badge-warning">Ugx {{serie_price|intcomma}}</span> on download </div>
        </div>
        </div>
      </div>
      <div class="container-fluid">
          <h6 class="text-white mb-0 d-flex justify-content-center" >People who watched {{series.name|title }} also watched: </h6>
            <div class=" recommended row d-flex justify-content-center">
              {% for serie in similar_series %}
              <div class="m-2" style="height: 90px; width: 90px;">
                <a href="{% url 'serie_detail' serie.slug %}">
                  <img class="mh-100" style="width: 100px; height: 90px; border-radius: 5px;" src="{{ serie.cover_image.url }}">
                </a>
              </div>
              {% endfor %}
            </div>
        </div>
        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script>
          $("#downloadAlert").hide();
          $("#downloadButton").click(function(){
            $("#downloadAlert").show();
          });
        </script>
        {% include 'footer.html' %}
{% endblock %}